.App {
  text-align: center;
  height: 1000px;
  background-color: #282c34;
  font-weight: 700;
  font-size: 40px;
  color: aliceblue;
}

form{
  height: 500px;
  width: 50%;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 10px;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
}

input{
  height: 30px;
}

button{
  height: 30px;
  background-color: transparent;
  border: none;
  color: orange;
}
